@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,italic,700,700italic);

:root {
 --vp-c-brand: #4071ff; /* Primary Brand Color: Vibrant Blue */
  --vp-c-brand-light: rgba(64, 113, 255, 0.75); /* Light Brand Color: Lighter Blue with 75% Opacity */
  --vp-c-brand-lighter: rgba(64, 113, 255, 0.5); /* Lighter Brand Color: Much Lighter Blue with 50% Opacity */
  --vp-c-brand-dark: #3058cc; /* Dark Brand Color: Darker Shade of Blue */
  --vp-c-brand-darker: #2040b3; /* Darker Brand Color: Even Darker Shade for Contrast */

  --vp-c-sponsor: rgba(253, 29, 124, 0.75); /* Sponsor Color: Semi-Transparent Red with 75% Opacity */


  /* Typography */
  --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Stlye */
.custom-layout {
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  min-height: 400px;
  max-width: 1152px;
  margin: 6rem auto 0;
  border-radius: 10px;
}

.custom-layout h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.custom-layout .btn {
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-radius: 20px;
  padding: 0.5rem 1.4rem;
}
